<ion-view view-title="Deposit Calculator"> <ion-content
	class="padding">
<div class="list" ng-controller="FDCnrl">
	<label class="item item-input item-floating-label"> <span
		class="input-label">Deposit Amount</span> <input type="number"
		placeholder="Deposit Amount" ng-model="txtDeposit">
	</label> <label class="item item-input item-floating-label"> <span
		class="input-label">Annual Rate of Interest</span> <input
		type="number" placeholder="Annual Rate of Interest" ng-model="txtROI">
	</label> <label class="item item-input item-floating-label"> <span
		class="input-label">Deposit Period</span> <input type="number"
		placeholder="Deposit Period" ng-model="txtPeriod">
	</label> <label class="item item-input item-select">
		<div class="input-label">Deposit Period is in</div> <select>
			<option>Days</option>
			<option>Months</option>
			<option selected>Years</option>
	</select>
	</label>
	<div>
		<ul class="list">
			<li class="item item-toggle">Compunding<label
				class="toggle toggle-balanced"> <input type="checkbox"
					checked=true ng-model="isCompounding">
					<div class="track">
						<div class="handle"></div>
					</div>
			</label>
			</li>
		</ul>
	</div>


	<div id="compoundingDiv" ng-show="isCompounding">
		<label class="item item-input item-select">
			<div class="input-label">Compounding is</div> <select>
				<option>Monthly</option>
				<option selected>Quarterly</option>
				<option>Half-Yearly</option>
				<option>Yearly</option>
		</select>
		</label>
	</div>

	<!-- Place for Final Amount -->
	<div ng-show="isInterest">
		The investment of {{txtDeposit}} will grow to {{finalAmt}} in
		{{txtPeriod}} with interest rate of {{txtROI}}. <br /> Net Interest
		gained is {{finalInterest}}.
	</div>
	<!-- Place for Final Amount -->

	<div ng-conroller="FDCnrl">
		<button class="button button-block button-positive" on-tap="FDAmt()"
			on-click="FDAmt()">Calculate</button>
		<button class="button button-block button-positive"
			on-tap="resetForm()">Reset</button>
	</div>
</ion-content> </ion-view>
